<div class="shoddyHistoryGrid">
    <div class="shoddyHistoryContainerGrid">
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="shoddyHistoryInformaction">
            <div class="shoddyHistoryTitle">
                <p>Historial de mala calidad</p>
            </div>
            <div>
                <app-shoddy-filter [typeSensors]="typeSensors"></app-shoddy-filter>
                <app-list-shoddy [histories]="histories"></app-list-shoddy>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
