<div class="shoddyHistoryContainer">
    <div>
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="shoddyHistoryInformaction">
            <div class="shoddyHistoryTitle">
                <p>Historial de mala calidad...</p>
            </div>
            <div>
                <app-shoddy-filter></app-shoddy-filter>
                <app-list-shoddy></app-list-shoddy>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
