<div class="setUpIotGrid">
    <div>
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="setUpIotContainer">
            <div class="setUpIotTitle">
                <p>Sensor temperatura 1</p>
            </div>
            <div>
                <h2>Dispositivos Iot</h2>

                <div>
                    <h3>Sensores de Temperatura</h3>
                    <div>
                        <div>
                            <p>Rango Minimo</p>
                            <p>Rango Máximo</p>
                        </div>
                        <div>
                            <form action="">
                                <div class="mb-3">
                                    <input type="text" class="form-control">
                                    <label class="form-label">C</label>
                                </div>
                                <p>> X ></p>
                                <div class="mb-3">
                                    <input type="text" class="form-control">
                                    <label class="form-label">C</label>
                                </div>
                            </form>
                            <div>
                                <div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
