$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;


.setUpIotGrid {
    grid-template-columns: 1fr;
    height: 100%;
    @media only screen and (min-width: $width-long) {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

.setUpIotContainerGrid {
    display: grid;
    gap: 16px;
    grid-template-rows: 64px calc(100% - 64px - 16px);
    height: 100%;
}

.setUpIotContainer {
    border: 1px solid #687782;
    border-radius: 8px;
    height: 100%;
    padding: 24px 16px 12px;
    position: relative;
}

.setUpIotTitle {
    background: white;
    font-size: 16px;
    left: 16px;
    position: absolute;
    top: -16px;

    & p {
        margin: 0;
        padding: 4px 8px;
    }
}

.setUpIotContainerSesors {
    position: relative;
    & h2 {
        font-size: 18px;
    }
}

.iotFlex {
    display: flex;
    margin: 12px 0;
}