<div class="setUpIotGrid">
    <div class="setUpIotContainerGrid">
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="setUpIotContainer">
            <div class="setUpIotTitle">
                <!-- Cambiar por el nombre de la piscigranja -->
                <p>Piscigranja</p>
            </div>
            <div class="setUpIotContainerSesors">
                <h2>Dispositivos Iot</h2>
                <div>
                    <app-iot-range></app-iot-range>
                    <!-- Se puede usar el componente app-iot-device cuando se registra un dispositivo iot -->
                    <div class="iotFlex">
                        <app-iot-device></app-iot-device>
                        <app-iot-add></app-iot-add>
                    </div>
                </div>
                <div>
                    <app-iot-range></app-iot-range>
                    <div class="iotFlex">
                        <app-iot-device></app-iot-device>
                        <app-iot-add></app-iot-add>
                    </div>
                </div>
                <div>
                    <app-iot-range></app-iot-range>
                    <div class="iotFlex">
                        <app-iot-device></app-iot-device>
                        <app-iot-add></app-iot-add>
                    </div>
                </div>
                <div>
                    <app-iot-range></app-iot-range>
                    <div class="iotFlex">
                        <app-iot-device></app-iot-device>
                        <app-iot-add></app-iot-add>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
