
<table class="fishFarmTable">
    <thead class="fishFarmTableHead">
        <tr>
            <td>Últimos parámetros</td>
            <td>Nivel</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Temperatura</td>
            <td *ngIf="fishFarm!.LastTemperature">{{ fishFarm!.LastTemperature | number: '1.2-2' }} °C</td>
            <td *ngIf="!fishFarm!.LastTemperature">-</td>
        </tr>
        <tr>
            <td>pH</td>
            <td *ngIf="fishFarm!.LastPh">{{ fishFarm!.LastPh | number: '1.2-2' }}</td>
            <td *ngIf="!fishFarm!.LastPh">-</td>
        </tr>
        <tr>
            <td>Oxígeno Disuelto</td>
            <td *ngIf="fishFarm!.LastDo">{{ fishFarm!.LastDo | number: '1.2-2' }}</td>
            <td *ngIf="!fishFarm!.LastDo">-</td>
        </tr>
    </tbody>
</table>