
<table class="fishFarmTable">
    <thead class="fishFarmTableHead">
        <tr>
            <td>Últimos parámetros</td>
            <td>Nivel</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Temperatura</td>
            <td>{{ fishFarm!.LastTemperature | number: '1.2-2' }} °C</td>
        </tr>
        <tr>
            <td>pH</td>
            <td>{{ fishFarm!.LastPh | number: '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Oxígeno Disuelto</td>
            <td>{{ fishFarm!.LastDo | number: '1.2-2' }}</td>
        </tr>
    </tbody>
</table>