<div class="viewFishFarmGrid">
    <div class="viewFishFarmContainerGrid">
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="viewFishFarmInformaction">
            <div class="fishFarmTitle">
                <p>{{fishFarmName}}</p>
            </div>
            <app-fish-farm-menu (deleteEvent)="deleteFishFarm( $event )"></app-fish-farm-menu>
            <app-fish-farm-information></app-fish-farm-information>
            <app-fish-farm-iot></app-fish-farm-iot>
        </div>
    </div>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="deleteFishFarmQuestion" class="confirmationContainer">
    <app-delete-fish-farm (continueEvent)="confirmationContinue( $event )"></app-delete-fish-farm>
</div>
<div *ngIf="deleteSuccessful" class="confirmationContainer">
    <app-confirmation-delete-message (continueEvent)="confirmationDelete( $event )"></app-confirmation-delete-message>
</div>