$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;

.addIotContainerGrid {
    display: grid;
    gap: 16px;
    grid-template-rows: 64px calc(100% - 64px - 16px);
    height: 100%;
}


.addIotContainer {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $width-long) {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

.addIotInformaction {
    border: 1px solid #687782;
    border-radius: 8px;
    height: 100%;
    padding: 24px 16px 12px;
    position: relative;
}

.addIotTitle {
    background: white;
    font-size: 16px;
    left: 16px;
    position: absolute;
    top: -16px;

    & p {
        margin: 0;
        padding: 4px 8px;
    }
}

.confirmationContainer {
    &::after {
        content: '';
        background: white;
        height: calc(100vh - 64px);
        opacity: 0.2;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

/*****************************/
.subHeaderMenu {
    display: flex;
    list-style: none;
    padding: 24px 0 8px;
    margin: 0;
}

.subHeaderMenuLink {
    color: #687782;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    text-decoration: none;
    font-size: 14px;

    & div {
        display: inline-block;
    }

    &:first-child {
        margin-right: 20px;
    }

    & span {
        display: none;
        padding-left: 8px;
    }

    @media only screen and (min-width: $width-medium) {
        & span {
            display: block;
        }
    }
}