<div>
    <h2 class="fishFarmIotTitle">Dispositivos IoT</h2>
</div>
<div class="fishFarmIoTContainer">
    <h3>Sensores de temperatura</h3>
    <div  class="fishFarmIoTSensorContainer">
        <app-iot-device></app-iot-device>
        <app-iot-device></app-iot-device>
    </div>
</div>
<div class="fishFarmIoTContainer">
    <h3>Sensores de pH</h3>
    <div  class="fishFarmIoTSensorContainer">
        <app-iot-device></app-iot-device>
        <app-iot-device></app-iot-device>
    </div>
</div>
<div class="fishFarmIoTContainer">
    <h3>Sensores de oxígeno disuelto</h3>
    <div  class="fishFarmIoTSensorContainer">
        <app-iot-device></app-iot-device>
    </div>
</div>
<div class="fishFarmIoTContainer">
    <h3>Compuertas</h3>
    <div  class="fishFarmIoTSensorContainer">
        <app-iot-device></app-iot-device>
    </div>
</div>