<app-sub-header [subMenus]='subMenus'></app-sub-header>

<div class="viewShoddyContainer">

    <div class="shoddyTitle">
        <p>Piscigranja de reproductores</p>
    </div>
    <div >
        <h2>Fecha y Hora</h2>
        <div class="shoddyDate">
            <div>
                <p>Día</p>
                <p>Hora</p>
            </div>
            <div>
                <p>20/01/21</p>
                <p>15:34</p>
            </div>
        </div>
        <app-list-shoddy-information></app-list-shoddy-information>
    </div>
</div>