<div class="shoddyContainerGrid">
    <app-sub-header [subMenus]='subMenus'></app-sub-header>

    <div class="viewShoddyContainer">
        <div >
            <h2>Fecha y Hora</h2>
            <div class="shoddyDate">
                <div>
                    <p>Día</p>
                    <p>Hora</p>
                </div>
                <div>
                    <p>{{historyView.EventDate}}</p>
                    <p>{{historyView.EventTime}}</p>
                </div>
            </div>
            <app-list-shoddy-information [historyView]="historyView"></app-list-shoddy-information>
        </div>
    </div>
</div>