<div class="listFishFarms">
    <div class="listFishFarmsHead">
        <div class="listFishFarmsHeadTitle">
            <p>Nombre de la piscigranja</p>
        </div>
        <div class="listFishFarmsHeadTitle">
            <p>Última vez de mala calidad de agua</p>
        </div>
    </div>
    <div>
        <app-fish-farm *ngFor="let fishFarm of listFishFarm" [fishFarm]="fishFarm"></app-fish-farm>
    </div>
    <div class="noListFishFarms" *ngIf="listFishFarm.length == 0">
        <p>No hay ninguna piscigranja registrada.</p>
    </div>
</div>