$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;

.containerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.createFishContainer {
    border: 1px solid #687782;
    border-radius: 8px;
    padding: 24px 16px 12px;
    position: relative;

    &:after {
        background: white;
        content: 'Crear Tipo de Pez';
        left: 16px;
        padding: 4px 8px;
        position: absolute;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        top: -16px;
        width: 60%;
        white-space: nowrap;

        @media only screen and (min-width: $width-medium) {
            width: 40%;
        }
    }
}

.createFishFormDataConetion {
    font-size: 16px;
    margin-top: 12px;
}

.text-muted {
    font-size: 8.5px;
}

.createFishFormTitle {
    font-size: 16px;
}

.createFishFormCode {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &Information {
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            margin: 0 12px 0;
        }
    }
}

.form-group {
    margin-bottom: 12px;
}

.saveChange {
    width: 90%;
    position: absolute;
    bottom: 0;
    transform: translateY(-40%);
}

.errorMasssage {
    color: #dc3545;
    font-size: 12px;
}

.hidenErrorMasssage {
    display: none;
}
