.iotFormDataConetion {
    font-size: 16px;
    margin-top: 12px;
}

.iotFormImage {
    height: 200px;
    margin: 12px auto 0;
    width: 100%;
}

.iotFormImageTitle {
    display: grid;
    grid-template-columns: 2fr 1fr;

    & div {
        cursor: pointer;
        text-align: end;
    }
}

.text-muted {
    font-size: 8.5px;
}

.iotFormTitle {
    font-size: 16px;
}

.iotFormCode {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &Information {
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            margin: 0 12px 0;
        }
    }
}

.iotActive, .iotNoActive {
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.iotActive {
    background: green;
}

.iotNoActive {
    background: red;
}

.saveConetion, .saveChange {
    margin-top: 16px;
    width: 100%;
}

.containerSaveChange {
    display: block;
    height: 100px;
    position: relative;
    width: 100%;
}

.saveChange {
    position: absolute;
    bottom: 0;
}