<div class="iot">
    <h3>Sensores de Temperatura</h3>
    <form>
        <div class="iotRange">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Rango minimo óptimo</label>
                <input type="text" class="form-control">
            </div>
            <div class="iotRangeX">
                <p>≥ X ≥</p>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Rango máximo óptimo</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
</div>