$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;

.registerGridContainer {
    @media only screen and (min-width: $width-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

.registerMainContainer { 
    max-width: 400px;
    min-height: 100vh;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media only screen and (min-width: $width-medium) {
        grid-column: 2;
        margin: 0;
    }
}

.headerImage {
    height: 128px;
    width: 100%;
}

.organizationImage {
    height: 148px;
    margin: 12px auto 0;
    width: 100%;
}
