$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;

.editIotGrid {
    grid-template-columns: 1fr;
    height: 100%;
    @media only screen and (min-width: $width-long) {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

.editIotContainerGrid {
    display: grid;
    gap: 16px;
    grid-template-rows: 64px calc(100% - 64px - 16px);
    height: 100%;
}

.editIotContainer {
    border: 1px solid #687782;
    border-radius: 8px;
    height: 100%;
    padding: 24px 16px 12px;
    position: relative;
}

.editIotTitle {
    background: white;
    font-size: 16px;
    left: 16px;
    position: absolute;
    top: -16px;

    & p {
        margin: 0;
        padding: 4px 8px;
    }
}