.listShoddy {
    &Head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        &Title {
            text-align: end;
        }
    }
}

.noHistories {
    color: #dc3545;
    font-size: 14px;
    text-align: center;
}
