<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre de usuario o correo electrónico</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
    <div class="text-center mt-3">
        <a href="#" class="link-primary">Olvidé mi contraseña</a>
    </div>
</form>