
<div class="deleteIot deleteIotHide">
    <p class="deleteIotQuestion">¿Estás seguro de eliminar este dispositivo?</p>
    <p class="deleteIotName">Sensor de temperatura 1</p>
    <p>Este es el único sensor de temperatura instalado en Piscigranja 1, si lo desintalas, la piscigranja ya no medirá la temperatura del agua.</p>
    <div class="deleteIotButtons">
        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-primary">Eliminar dispositivo</button>
    </div>
</div>
