<div class="generalConfigurationGrid">
    <div class="generalConfigurationContainerGrid">
        <app-sub-header [subMenus]='subMenus'></app-sub-header>
        <div class="generalConfigurationContainer">
            <form class="generalConfigurationForm" (ngSubmit)="updateGeneralConfiguration()">
                <div>
                    <p>Abrir compuertas de manera</p>
                    <div class="generalConfigurationCheckInput">
                        <div class="form-check">
                            <input class="form-check-input" value="automatic" type="radio" name="WayToOpenGates" [(ngModel)]="generalConfiguration.WayToOpenGates">
                            <label class="form-check-label">Automática</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="manual" type="radio" name="WayToOpenGates" [(ngModel)]="generalConfiguration.WayToOpenGates">
                            <label class="form-check-label">Manual</label>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <div class="mb-3">
                        <label for="TimeToOpenGates" class="form-label">Tiempo en que iniciarán a abrirse</label>
                        <div class="generalConfigurationFormTime">
                            <input type="text" name="TimeToOpenGates" [(ngModel)]="generalConfiguration.TimeToOpenGates" class="form-control">
                            <p>minuto(s)</p>
                        </div>
                    </div>
                    <div class="generalConfigurationHelp">
                        <p>El tiempo mínimo es 0 minutos y el máximo es 30 minutos</p>
                    </div>
                </div>
                <br>
                <button type="submit" class="generalConfigurationFormButoon btn btn-primary">Guardar cambios</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="alertUpdateGeneralConfiguration" class="confirmationContainer">
    <app-confirmation-message (continueEvent)="confirmationContinue( $event )"></app-confirmation-message>
</div>
