$width-small: 400px;
$width-medium: 800px;
$width-long: 1200px;

.confirmationContainer {
    &::after {
        content: '';
        background: white;
        height: calc(100vh - 64px);
        opacity: 0.2;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.generalConfigurationContainer {
    border: 1px solid #687782;
    border-radius: 8px;
    padding: 24px 16px 12px;
    position: relative;

    &:after {
        background: white;
        content: 'Configuración general de compuertas';
        left: 16px;
        padding: 4px 8px;
        position: absolute;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        top: -16px;
        width: 70%;
        white-space: nowrap;

        @media only screen and (min-width: $width-medium) {
            width: 60%;
        }
    }
}
.generalConfigurationContainerGrid, .generalConfigurationGrid {
    display: grid;
}

.generalConfigurationContainerGrid {
    gap: 16px;
    grid-template-rows: 64px calc(100% - 64px - 16px);
}

.generalConfigurationGrid {
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.form-check:first-child {
    margin-right: 16px;
}

.generalConfigurationCheckInput {
    display: flex;
}

.generalConfigurationFormTime {
    display: flex;
    align-items: center;
    & .form-control {
        width: 128px;
    }
    & p {
        margin: 0 0 0 8px;
    }
}

.generalConfigurationForm {
    height: 100%;
    position: relative;

    &Butoon {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
    }
}

.mb-3 {
    margin: 0 !important;
}

.generalConfigurationHelp {
    font-size: 12px;
}

.errorTime{
    color: #dc3545;
    font-size: 12px;
}
