<form (ngSubmit)="passwordRestore()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nueva contraseña</label>
        <input type="password" class="form-control" name="Password" [(ngModel)]="recoverPassword.Password">
        <p *ngIf="passwordError" class="alertEmpty">Tiene que ingresar una contraseña.</p>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirma tu contraseña</label>
        <input type="password" class="form-control" name="PasswordConfirmation" [(ngModel)]="recoverPassword.PasswordConfirmation">
        <p *ngIf="passwordConfirmationError" class="alertEmpty">Tiene que volver a ingresar la contraseña.</p>
        <p *ngIf="passwordNoSameError" class="alertEmpty">Las contraseñas no coinsiden.</p>

    </div>
    <button type="submit" class="mt-5 w-100 btn btn-lg btn-primary">Restablecer contraseña</button>
    <div class="mb-3">
        <p *ngIf="tokenInvalid" class="alertEmptyCenter">Usted ya cambio su contraseña.</p>
    </div>

</form>