<form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nueva contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password"
            [class.is-invalid]="passwordForm.get('password').invalid && (passwordForm.get('password').dirty || passwordForm.get('password').touched)"
            [class.is-valid]="passwordForm.get('password').valid && passwordForm.get('password').dirty">
        <div class="d-alert-danger">
            <div class="container-error-message" style="color: #dc3545;"
                *ngIf="passwordForm.get('password').hasError('required') && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
                Password is required
            </div>
            <div class="container-error-message" style="color: #dc3545;" *ngIf="
            passwordForm.get('password').hasError('pattern') &&
            passwordForm.get('password').dirty
          ">
                Password must have:<br />
                > Between 8 & 26 characters<br />
                > A least a number<br />
                > A least a minúscula <br />
                > A least a mayúscula
            </div>

        </div>
    </div>
    <div class="mb-3">
        <label for="repeatPassword" class="form-label">Confirma tu contraseña</label>
        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword"
            [class.is-invalid]="passwordForm.get('repeatPassword').invalid && (passwordForm.get('repeatPassword').dirty || passwordForm.get('repeatPassword').touched)"
            [class.is-valid]="passwordForm.get('repeatPassword').valid && passwordForm.get('repeatPassword').dirty">
        <div class="d-alert-danger">
            <div class="container-error-message" style="color: #dc3545;"
                 *ngIf="passwordForm.get('repeatPassword').hasError('required') && (passwordForm.get('repeatPassword').dirty || passwordForm.get('repeatPassword').touched)">
                 Password is required
            </div>
         </div>
    </div>
    <button type="submit" class="mt-5 w-100 btn btn-lg btn-primary" [disabled]="passwordForm.invalid">Restablecer contraseña</button>
</form>