<div class="bodyContainer">
    <app-main-header></app-main-header>
    <main class="mainFishFarmContainer ">
        <div class="listFishFarms" [@expand]>
            <app-sub-header [subMenus]='subMenus' [hideContainer]='hideContainer'></app-sub-header>
            <app-list-fish-farms [listFishFarmAbbreviated]="listFishFarmAbbreviated" class="list-farms"></app-list-fish-farms>
        </div>
        <div class="fishFarmInformation">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>